*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    
}

#cb{
    font-size: 30px;
    
}

body{
    text-align: center;
    padding: 20px;
    color: black;
}

button {
    margin-top: 20px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background: #cd06f0;
    border: 1px solid black;
    color: whitesmoke;
    width: 70px;
}

#bR{
    width:79px;
    margin-top: 0px;
}

button:hover {
    background: violet;
}